[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
Pillow = "*"
flask_sqlalchemy = "*"
flask_bcrypt = "*"
flask_login = "*"
flask_wtf = "*"
email_validator = "*"

[dev-packages]

[requires]
python_version = "3.8"
